**/*.ts
**/tsconfig.json
**/*.yml
**/*.js.map
*ignore
*.vsix
package-lock.json
img/
node_modules/
!node_modules/vscode-webhint/dist/src/server.js
!node_modules/@vscode/codicons/dist/codicon.css
!node_modules/@vscode/codicons/dist/codicon.ttf
out/edge/
src/
scripts/
startpage/
!out/startpage/
test/
