html,
body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

#toolbar {
  display: flex;
  width: 100%;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--vscode-editorGroup-border);
}

#toolbar>button,
#toolbar>select {
  background-color: var(--vscode-editor-background);
  border: none;
  color: var(--vscode-editor-foreground);
}

#url {
  flex: 1;
  background-color: var(--vscode-input-background);
  border-style: solid;
  border-width: 1px;
  color: var(--vscode-input-foreground);
}

#canvas-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#canvas {
  outline: none;
}

#canvas.touch {
  cursor: -webkit-image-set(url('../../resources/Images/touchCursor.png') 1x, url('../../resources/Images/touchCursor_2x.png') 2x), default;
}

#inactive-overlay {
  backdrop-filter: blur(2px);
  background-color: rgba(0,0,0,0.5);
  font-size: 200%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px 5px #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#inactive-overlay[hidden] {
  display: none;
}
