html,
body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

#toolbar {
  display: flex;
  width: 100%;
  padding-bottom: 4px;
  height: 28px;
  border-bottom: 1px solid var(--vscode-editorGroup-border);
}

#toolbar>button,
#toolbar>select {
  background-color: var(--vscode-editor-background);
  border: none;
  color: var(--vscode-editor-foreground);
}

#url {
  flex: 1;
  background-color: var(--vscode-input-background);
  border-style: solid;
  border-width: 1px;
  color: var(--vscode-input-foreground);
}

#canvas-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

#canvas-wrapper.fill #canvas {
  max-width: none;
  max-height: none;
}

#canvas {
  outline: none;
}

#canvas.touch {
  cursor: -webkit-image-set(url('../../resources/Images/touchCursor.png') 1x, url('../../resources/Images/touchCursor_2x.png') 2x), default;
}

#inactive-overlay {
  backdrop-filter: blur(2px);
  background-color: rgba(0,0,0,0.5);
  font-size: 200%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px 5px #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#inactive-overlay[hidden] {
  display: none;
}

#emulation-bar {
  background-color: var(--vscode-editor-background);
  display: flex;
  justify-content: space-between;
  height: 32px;
  width: 100%;
}

#emulation-bar * {
  align-self: center;
}

#emulation-bar input {
  width: 48px;
  height: 24px;
  background-color: var(--vscode-input-background);
  color: var(--vscode-input-foreground);
  border: none;
  appearance: none;
}

#emulation-bar-right,
#emulation-bar-center,
#emulation-bar-left {
  display: flex;
}

#emulation-bar button {
  padding: 4px;
  margin-left: 4px;
  display: flex;
  border: none;
  background-color: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
  border-radius: 4px;
}

#emulation-bar button:last-child {
  margin-right: 4px;
}

#emulation-bar button:hover {
  background-color: var(--vscode-toolbar-hoverBackground);
}

#popover {
  border: 1px solid var(--vscode-dropdown-border);
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
}

#popover hr {
  background-color: var(--vscode-input-background);
  border: none;
  height: 1px;
  margin-left: 35px;
}

#popover ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#popover li {
  display: flex;
  padding: 5px 0px;
  padding-right: 25px;
}

#popover li:hover {
  background-color: var(--vscode-button-hoverBackground);
}

#popover li i {
  padding: 0px 10px;
}

#popover li:first-child {
  margin-top: 5px;
}

#popover li:last-child {
  margin-bottom: 5px;
}
