name: CI_Integration_Windows

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
    - uses: actions/checkout@v3

    - name: Configuring Git LF Settings
      run: |
        git config --global core.autocrlf false

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}

    - name: Build and Test
      run: |
        npm install
        npm run build-and-lint
        npm run test

    - name: Creating .vsix
      run: |
        npm run package
