# This is a basic workflow to help you get started with Actions

name: Sync Issue with ADO

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  issues:
    types: [labeled, closed, reopened, edited]
  issue_comment:
    types: [created]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  alert:
    runs-on: ubuntu-latest
    name: ADOSync workflow
    steps:       
    - uses: jasonstephen15/github-actions-issue-to-work-item@master
      env:
        github_token: "${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}"  
        ado_token: '${{ secrets.ADO_PERSONAL_ACCESS_TOKEN }}'
        ado_organization: 'microsoft'
        ado_project: 'Edge'
        ado_area_path: 'Edge\Dev Experience\Developer Tools\F12 Tools\VSCode Extension'
        ado_tags: 'DevToolsVSCodeExtension_GitHub'
        ado_tag_on_close: 'DevToolsVSCodeExtension_GitHub_Closed'
        ado_bypassrules: false
        ado_set_labels: false
        create_on_tagging: true
